
header{
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148402757.jpg?t=st=1734098472~exp=1734102072~hmac=7d4e0c23ce63c52e78f013f15fa22197e02de4bb9ed202431ff0dfae988bdcb4&w=826");
    background-size: cover;
    background-position: center;
}